<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           {{!-- transform: translate(0,12%); --}}
        }
        img{
            width:100%;
            height: 100%;
        }
        #imgDiv{
            position: relative;
            display: inline-block;
                 width:320px;
            height:400px;

        }
        canvas  {
            position: absolute;
            top:0;
            left: 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    <h2>Upload Image For Face, Age And Gender Detection</h2>
    <div id="imgDiv">
    <img id="img" src="/images/q.jpg" alt="image" />
    <canvas id='canvas' height="400" width="400"></canvas>
    </div>
    <input id="imgUpload" type="file" />
    <div id="results">
       <div><h3>Gender : </h3> </div>
        <div><h3>Probability Of Gender : </h3></div>
        <div><h3>Age : </h3></div>
    </div>
    
</body>
<script type="text/javascript"  src="/scripts/face-api.js" ></script>
 <script type="text/javascript" src="/scripts/face.js"></script>                               
</html>