<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           transform: translate(0,12%);
        }
        img{
            width:320px;
            height:400px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    <img id="img" src="/images/1.jpg" alt="image" />
    <input id="imgUpload" type="file" />
    <canvas id='canvas' height="400" width="400"></canvas>
    
</body>
<script type="text/javascript"  src="/scripts/face-api.js" ></script>
 <script type="text/javascript" src="/scripts/face.js"></script>                               
</html>